
<!-- This act like a form in a normal web server page -->
<EditForm Model="@customer" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationValidator/>

    <div class="form-group">
        <div class="pt-4"> 
            <label class="lead text-left w-100 d-block">Customer ID</label>
            <div>
                <InputText class="form-control" @bind-Value="@customer.CustomerID" />
                <ValidationMessage For="@(() => customer.CustomerID)"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="pt-4"> 
            <label class="lead text-left w-100 d-block"> Contact Name</label>
            <div>
                <InputText class="form-control" @bind-Value="@customer.ContactName"/>
                <ValidationMessage For="@(() => customer.ContactName)"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="pt-4"> 
            <label class="lead text-left w-100 d-block"> Contact Title</label>
            <div>
                <InputText class="form-control" @bind-Value="@customer.ContactTitle"/>
                <ValidationMessage For="@(() => customer.ContactTitle)"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="pt-4"> 
            <label class="lead text-left w-100 d-block"> Company Name</label>
            <div>
                <InputText class="form-control" @bind-Value="@customer.CompanyName"/>
                <ValidationMessage For="@(() => customer.CompanyName)"/>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="pt-4"> 
            <label class="lead text-left w-100 d-block"> Contact Title</label>
            <div>
                <InputText class="form-control" @bind-Value="@customer.Address"/>
                <ValidationMessage For="@(() => customer.Address)"/>
            </div>
        </div>
    </div>

    <div class="pt-4 w-100">
        <button type="submit" class="btn btn-success">
            Submit
        </button>
    </div>

</EditForm>



@code{
    
    [Parameter]
    public Customer customer {get;set;}

    [Parameter]
    public EventCallback OnValidSubmit {get;set;}



}